/*  Building an application/website for multiple devices.
 * Multiple widths, heights, and scaling your content appropriately.
 */

/* Media queries - styling elements differently at width break points. */

/* Bootstraps grid system was very popular until CSS Flex box and CSS Grid */

#first_container {
    background-color: aqua;
    height: 400px;
}

#second_container {
    background-color: red;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}